.minusBtn{
    margin-left: 10px;
    background-color: rgb(216, 15, 15);
    color: white;
    border: none;
    border-radius: 5px;
}
.plusBtn{
    background-color: rgb(17, 17, 194);
    color: white;
    border: none;
    border-radius: 5px;
}
